<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Print Page</title>

<link rel="stylesheet" href="/css/print.css?=121">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

<style>
@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}


h1 {
    position: absolute;
    font-size:23px;

    font-weight:bold;

    margin:0px;

    padding:0px;

    margin-bottom:9px;

    line-height:26px;

}

h2 {
    position: absolute;
    font-size:18px;

    font-weight:bold;

    margin:0px;

    padding:0px;

    margin-bottom:7px;

    line-height:18px;

}

h3 {
    position: absolute;
    font-size:18px;

    font-weight:normal;

    margin:0px;

    padding:0px;

    line-height:14px;

}

img {
    position: absolute;
}

</style>

</head>

<body>

{{{body}}}

</body>

</html>
