.points_table thead {
	width: 100%;
}

.points_table tbody {
	height: 562px;
	overflow-y: auto;
	width: 100%;
}

.points_table thead tr{
	width: 99%;
}

 .points_table tr{
 	width: 100%;
 }

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th{
	display: inline-block;
}

.points_table thead{
	background: #1f7fd9;
	color: #fff;
}

.points_table tbody td, .points_table thead > tr> th{
	float: left;
	border-bottom-width: 0;
}

.points_table>tbody>tr>th,  .points_table>tfoot>tr>th,  .points_table>thead>tr>th{
	padding: 8px;
	
	text-align: left;
	
}

.points_table>tbody>tr>td,  .points_table>tfoot>tr>td, .points_table>thead>tr>td {
	padding: 8px;
	height: 50px;
	text-align: left;
	line-height: 32px;
}

.odd {
	background: #ffffff;
	color: #000;
}

.even {
	background: #efefef;
	color: #000;
}

.points_table_scrollbar{
	height: 612px;
	overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #444444;
}

.points_table_scrollbar::-webkit-scrollbar{
	width: 1%;
	min-width: 5px;
	background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #1f7fd9;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}




.thumbnail img {
  max-height: 150px;
}

.price {
  font-weight: bold;
  font-size: 16px;
  
}

.navbar-brand {
  display: inline-table;
  vertical-align: middle;
  max-height:70px;
}

.navbar-header {
  display: inline-table;
  vertical-align: middle;
  max-height:70px;
}

.brandlogo {
  max-height:200px;
  max-width: 400px;
}

/*
.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 100%;
  vertical-align: middle;
  display: inline-block;
}
*/

@media (max-width: 767px) {
  .navbar-nav > li > a {
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;}
}

.dataTables_filter { display: none; }




#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}


.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
   
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
    width: 25%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}