<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Badge Category</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{#each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/event/badge-category-delete" method="POST">
            <input type="hidden" name="badgeCategoryId" value="{{badgeCategory._id}}">
            <div class="form-group">
                <label for="eventName">Category Name</label>
                <p>{{badgeCategory.desc}}</p>
                
            </div>
            <p>Are you sure you want to delete ?</p>
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="/event/badge-categories-list" class="btn btn-default">Cancel</a>
        </form>
    </div>

</div>
