<ol class="breadcrumb">
  <li><a href="/event">Home</a></li>
  <li class="active">Dashboard</li>
</ol>

<div class="row">

    	<div class="col-md-3">
    	    <a class="info-tiles tiles-inverse has-footer" href="#">
    		    <div class="tiles-heading">
			        <div class="pull-left">Attended</div>
			        <div class="pull-right">
			        	<div id="tileorders" class="sparkline-block"><canvas width="39" height="13" style="display: inline-block; width: 39px; height: 13px; vertical-align: top;"></canvas></div>
			        </div>
			    </div>
			    <div class="tiles-body">
			        <div class="text-center">{{count}}</div>
			    </div>
			    <div class="tiles-footer">
			    	<div class="pull-left"></div>
			    	<div class="pull-right percent-change"></div>
			    </div>
			</a>
    	</div>



</div>
