			<div class="adjuster" style="margin:330px auto; width:315px; border:0px solid #ccc; text-align:left;"> 
				<div class="row">					
					<table class="tg" style="width:315px;border:0px solid red; margin-left:10px;">
					  <tr>
						<th class="tg-yw4l" colspan="2"><h1 id="companyName" style="margin-bottom:0px; line-height: 12px; ">{{ eventData.companyName  }}</h1>	</th>
					  </tr>
					  <tr>
						<td class="tg-yw4l"><h2 id="fullName" style="margin-bottom:10px; font-size:17px;">{{ eventData.fullName }} </h2></td>
            
            <td class="tg-yw4l">
              <div style="margin-top:10px; z-index:-100; margin-left:0px; float:right;">
                <img id="barcode"  />
                <!--<img src="http://hostevery.website/event_hktdc/index.php/home/gen_barcode?code=29824202932262">-->
              </div>
            </td>

					  </tr>
					  <tr>
						<td class="tg-yw4l" colspan="2"><h3 id="country">{{ eventData.country }}</h3></td>
					  </tr>
					</table>
				</div>
			</div>


      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="/javascripts/JsBarcode.all.min.js"></script>
      <script>
        $(document).ready(function(){
          JsBarcode("#barcode", "{{ eventData.barcode }} ", {
            format: "CODE128",
            width: 1,
            height:40,
            margin: 5,
            textMargin: 0,
            fontSize: 10,
            displayValue: true
          });

          dragElement(document.getElementById(("barcode")));
          dragElement(document.getElementById(("companyName")));
          dragElement(document.getElementById(("fullName")));
          dragElement(document.getElementById(("country")));
        });


      //window.print();
      
      //setTimeout(function(){ window.close(); }, 500);
      

      function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id)) {
          /* if present, the header is where you move the DIV from:*/
          document.getElementById(elmnt.id).onmousedown = dragMouseDown;
        } else {
          /* otherwise, move the DIV from anywhere inside the DIV:*/
          elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
          e = e || window.event;
          // get the mouse cursor position at startup:
          pos3 = e.clientX;
          pos4 = e.clientY;
          document.onmouseup = closeDragElement;
          // call a function whenever the cursor moves:
          document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
          e = e || window.event;
          // calculate the new cursor position:
          pos1 = pos3 - e.clientX;
          pos2 = pos4 - e.clientY;
          pos3 = e.clientX;
          pos4 = e.clientY;
          // set the element's new position:
          elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
          elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
          /* stop moving when mouse button is released:*/
          document.onmouseup = null;
          document.onmousemove = null;
          alert('pos1=' + pos1 + ',pos2=' + pos2 + ',pos3=' + pos3 + ',pos4=' + pos4);
          
        }
      }

      </script>